@model ToysDB.Models.Должности

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Должности</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Должность)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Должность)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
   <a asp-action="Index" class = "btn btn-outline-primary" >Назад</a>
</div>
